body {
    margin: 10px;
    background-color: #eee;
    color: rgb(58, 58, 58);
    font-family: sans-serif;

}

.navbar {
    background-color: #333; 
    overflow: hidden;
}

.navbar a {
    float: right; 
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-left {
    float: left;
    color: white;
    padding: 14px 16px;
}

.p {
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 50px;
}
p {
    text-align: center;
}

img {
width: 750px;   
margin-left: 300px;
margin-top: 4px;
}